In [3]:
import pandas as pd

df=pd.read_csv("C:\\Users\\hari_\\Python notebooks\\datafiles\\airbnb1.csv")
df

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,7880823,41542517,Entire home/apt,NaN,24,0,NaN,2,1.0,68,1.0,56.164097,10.214469,40:46.0
1,15322528,97637165,Entire home/apt,NaN,24,1,NaN,2,0.0,61,2.0,56.149367,10.196055,40:43.2
2,6920908,36273927,Entire home/apt,NaN,24,1,NaN,4,1.0,68,2.0,56.152544,10.206125,40:29.6
3,3249155,11206742,Entire home/apt,NaN,24,5,5.0,4,2.0,87,3.0,56.147076,10.205697,40:22.2
4,1242948,6193751,Private room,NaN,24,1,NaN,2,1.0,61,2.0,56.159235,10.209139,40:13.7
5,8572129,44932890,Private room,NaN,1,4,4.5,2,1.0,68,1.0,56.132292,10.210590,40:01.8
6,11606479,61426999,Entire home/apt,NaN,24,5,5.0,3,1.0,45,1.0,56.165611,10.213174,39:55.5
7,9359600,48570226,Private room,NaN,24,16,4.5,4,1.0,45,1.0,56.161485,10.198163,39:26.2
8,15477304,65071273,Private room,NaN,4,0,NaN,2,1.0,39,1.0,56.180219,10.190609,39:12.1
9,7877104,41273215,Private room,NaN,6,1,NaN,2,1.0,38,2.0,56.148342,10.157767,39:05.5
10,13589545,18333196,Private room,NaN,4,2,NaN,2,1.0,30,2.0,56.171741,10.199325,39:01.8
11,11525016,3756437,Entire home/apt,NaN,4,3,5.0,3,1.0,45,1.0,56.174029,10.210004,38:25.1
12,6101582,31653051,Entire home/apt,NaN,24,4,5.0,2,1.0,48,2.0,56.166069,10.189109,38:13.9
13,13159135,73480012,Entire home/apt,NaN,5,0,NaN,7,4.0,151,1.0,56.190285,10.220480,38:10.1
14,6875189,28341152,Private room,NaN,24,13,4.5,2,1.0,59,1.0,56.160572,10.204000,37:57.0
15,14149272,85474465,Entire home/apt,NaN,24,2,NaN,4,2.0,83,2.0,56.161393,10.215624,37:50.9
16,14570227,53189891,Entire home/apt,NaN,24,0,NaN,2,2.0,181,2.0,56.153146,10.185469,37:36.8
17,14100552,7639425,Entire home/apt,NaN,24,1,NaN,3,1.0,68,1.0,56.154578,10.210319,37:33.0
18,5224107,10541812,Entire home/apt,NaN,24,8,5.0,2,1.0,54,3.0,56.156689,10.197170,37:24.5
19,15310646,72150468,Entire home/apt,NaN,1,0,NaN,5,4.0,121,2.0,56.116357,10.207400,37:08.5
20,6745224,6174780,Entire home/apt,NaN,24,3,4.0,3,1.0,74,2.0,56.157261,10.200443,37:06.0
21,14890082,93140662,Private room,NaN,24,8,5.0,2,1.0,41,1.0,56.152490,10.205437,37:03.6
22,13898783,17048412,Private room,NaN,5,1,NaN,2,1.0,61,1.0,56.190955,10.228908,37:01.3
23,3753636,19212667,Entire home/apt,NaN,5,1,NaN,4,1.0,44,1.0,56.209611,10.237637,36:57.7
24,15592634,71103683,Entire home/apt,NaN,3,0,NaN,2,1.0,39,1.0,56.175850,10.147864,36:51.8
25,7596740,39836859,Entire home/apt,NaN,13,27,4.5,4,2.0,121,1.0,56.224411,10.211739,36:48.8
26,14329000,20072317,Entire home/apt,NaN,24,0,NaN,4,2.0,136,4.0,56.157709,10.209109,36:24.9
27,6149374,5420123,Entire home/apt,NaN,24,22,5.0,4,2.0,107,1.0,56.143594,10.205213,36:15.2
28,11312464,59150776,Entire home/apt,NaN,24,1,NaN,4,2.0,47,1.0,56.173377,10.213838,36:06.8
29,13630692,79018819,Entire home/apt,NaN,24,4,5.0,2,1.0,57,1.0,56.164264,10.195990,35:55.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,1254014,6831960,Private room,NaN,24,25,5.0,2,1.0,55,2.0,56.151234,10.195528,26:11.4
2229,6135595,16423206,Private room,NaN,6,9,5.0,3,1.0,41,2.0,56.149364,10.154547,30:24.8
2230,11132149,57850977,Private room,NaN,24,0,NaN,2,1.0,75,1.0,56.148615,10.206355,12:07.0
2231,13777354,80877118,Private room,NaN,24,0,NaN,3,1.0,68,2.0,56.155104,10.197490,02:18.7
2232,5783511,15326030,Private room,NaN,24,17,5.0,2,1.0,44,1.0,56.146907,10.208431,54:34.8
2233,1169048,6401712,Private room,NaN,24,0,NaN,1,1.0,87,1.0,56.159717,10.209981,17:33.1
2234,14164504,85688448,Private room,NaN,24,0,NaN,1,1.0,31,1.0,56.151006,10.202794,30:34.1
2235,12323705,14586976,Private room,NaN,24,0,NaN,1,1.0,22,7.0,56.158589,10.202518,07:39.7
2236,7905380,41686436,Private room,NaN,10,12,4.5,2,1.0,29,1.0,56.152505,10.091452,39:33.6
2237,269513,950501,Private room,NaN,24,42,5.0,2,1.0,35,2.0,56.156320,10.191611,29:36.2
2238,6346230,28637246,Private room,NaN,6,8,5.0,2,1.0,34,2.0,56.157020,10.176391,27:35.6
2239,3925157,5083613,Private room,NaN,3,10,5.0,2,1.0,27,3.0,56.164223,10.181814,22:41.5
2240,8467306,43791732,Private room,NaN,24,25,5.0,2,1.0,45,1.0,56.158602,10.185192,02:10.9
2241,13094364,7962364,Private room,NaN,3,1,NaN,2,1.0,27,4.0,56.163843,10.183331,48:56.0
2242,14803145,17356304,Private room,NaN,24,0,NaN,2,1.0,38,1.0,56.157874,10.184596,38:19.1
2243,4013412,20807925,Private room,NaN,6,0,NaN,2,1.0,61,1.0,56.155748,10.181730,28:57.8
2244,13288977,39922820,Private room,NaN,4,3,5.0,2,1.0,38,2.0,56.171376,10.202567,35:19.6
2245,12807740,21167161,Private room,NaN,24,3,5.0,2,1.0,30,2.0,56.146502,10.195901,38:50.8
2246,3745419,19157360,Private room,NaN,24,5,5.0,2,1.0,42,2.0,56.164217,10.198853,31:33.8
2247,7509522,21994117,Private room,NaN,5,12,4.5,1,1.0,36,1.0,56.192366,10.222569,51:32.3
2248,15533310,99911628,Private room,NaN,24,1,NaN,1,1.0,27,1.0,56.146439,10.193528,51:14.7
2249,10427411,53685813,Private room,NaN,24,56,5.0,2,1.0,34,1.0,56.172709,10.218883,27:56.9
2250,7566529,22372811,Private room,NaN,4,10,5.0,2,1.0,38,3.0,56.174624,10.213768,40:25.7
2251,13713859,10805331,Private room,NaN,1,13,4.5,1,1.0,23,1.0,56.139483,10.192860,54:03.7
2252,15247646,38670225,Private room,NaN,3,5,4.5,2,1.0,33,1.0,56.177797,10.163621,42:27.8
2253,13955327,51321031,Private room,NaN,24,10,5.0,1,1.0,34,3.0,56.144365,10.191370,16:21.8
2254,12977847,58380304,Private room,NaN,3,26,4.5,2,1.0,30,1.0,56.177617,10.170029,09:20.8
2255,13588809,48570226,Private room,NaN,24,8,5.0,1,1.0,27,1.0,56.163138,10.198306,57:55.1
2256,4087394,16674431,Private room,NaN,4,71,5.0,2,1.0,38,2.0,56.172236,10.199514,32:24.7
2257,12062157,11329263,Private room,NaN,4,33,5.0,2,1.0,30,1.0,56.183048,10.206165,37:32.9

In [4]:
df.columns

Index(['room_id', 'host_id', 'room_type', 'borough', 'neighborhood', 'reviews',
       'overall_satisfaction', 'accommodates', 'bedrooms', 'price', 'minstay',
       'latitude', 'longitude', 'last_modified'],
      dtype='object')

In [5]:
df.dtypes

room_id                   int64
host_id                   int64
room_type                object
borough                 float64
neighborhood              int64
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                     int64
minstay                 float64
latitude                float64
longitude               float64
last_modified            object
dtype: object

In [6]:
df.head(10)

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
0,7880823,41542517,Entire home/apt,NaN,24,0,NaN,2,1.0,68,1.0,56.164097,10.214469,40:46.0
1,15322528,97637165,Entire home/apt,NaN,24,1,NaN,2,0.0,61,2.0,56.149367,10.196055,40:43.2
2,6920908,36273927,Entire home/apt,NaN,24,1,NaN,4,1.0,68,2.0,56.152544,10.206125,40:29.6
3,3249155,11206742,Entire home/apt,NaN,24,5,5.0,4,2.0,87,3.0,56.147076,10.205697,40:22.2
4,1242948,6193751,Private room,NaN,24,1,NaN,2,1.0,61,2.0,56.159235,10.209139,40:13.7
5,8572129,44932890,Private room,NaN,1,4,4.5,2,1.0,68,1.0,56.132292,10.210590,40:01.8
6,11606479,61426999,Entire home/apt,NaN,24,5,5.0,3,1.0,45,1.0,56.165611,10.213174,39:55.5
7,9359600,48570226,Private room,NaN,24,16,4.5,4,1.0,45,1.0,56.161485,10.198163,39:26.2
8,15477304,65071273,Private room,NaN,4,0,NaN,2,1.0,39,1.0,56.180219,10.190609,39:12.1
9,7877104,41273215,Private room,NaN,6,1,NaN,2,1.0,38,2.0,56.148342,10.157767,39:05.5

In [7]:
df.tail(10)

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude,last_modified
2248,15533310,99911628,Private room,NaN,24,1,NaN,1,1.0,27,1.0,56.146439,10.193528,51:14.7
2249,10427411,53685813,Private room,NaN,24,56,5.0,2,1.0,34,1.0,56.172709,10.218883,27:56.9
2250,7566529,22372811,Private room,NaN,4,10,5.0,2,1.0,38,3.0,56.174624,10.213768,40:25.7
2251,13713859,10805331,Private room,NaN,1,13,4.5,1,1.0,23,1.0,56.139483,10.192860,54:03.7
2252,15247646,38670225,Private room,NaN,3,5,4.5,2,1.0,33,1.0,56.177797,10.163621,42:27.8
2253,13955327,51321031,Private room,NaN,24,10,5.0,1,1.0,34,3.0,56.144365,10.191370,16:21.8
2254,12977847,58380304,Private room,NaN,3,26,4.5,2,1.0,30,1.0,56.177617,10.170029,09:20.8
2255,13588809,48570226,Private room,NaN,24,8,5.0,1,1.0,27,1.0,56.163138,10.198306,57:55.1
2256,4087394,16674431,Private room,NaN,4,71,5.0,2,1.0,38,2.0,56.172236,10.199514,32:24.7
2257,12062157,11329263,Private room,NaN,4,33,5.0,2,1.0,30,1.0,56.183048,10.206165,37:32.9

In [8]:
df.describe()

,room_id,host_id,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,minstay,latitude,longitude
count,2.258000e+03,2.258000e+03,0.0,2258.000000,2258.000000,1001.000000,2258.000000,2255.000000,2258.000000,2222.000000,2258.000000,2258.000000
mean,9.397950e+06,3.617710e+07,NaN,17.365368,5.550930,4.709291,3.254207,1.480710,79.872896,2.014401,56.159714,10.196722
std,4.290220e+06,2.542905e+07,NaN,9.391867,10.035662,0.319223,1.634812,0.856343,207.441930,1.705929,0.018552,0.023660
min,6.010800e+04,1.188230e+05,NaN,1.000000,0.000000,3.500000,1.000000,0.000000,10.000000,1.000000,56.072052,9.973628
25%,6.321060e+06,1.526136e+07,NaN,5.000000,0.000000,4.500000,2.000000,1.000000,45.000000,1.000000,56.148640,10.190805
50%,9.765390e+06,3.260494e+07,NaN,24.000000,2.000000,4.500000,3.000000,1.000000,67.000000,1.000000,56.158504,10.200014
75%,1.341276e+07,5.330016e+07,NaN,24.000000,6.000000,5.000000,4.000000,2.000000,91.000000,2.000000,56.166577,10.208619
max,1.573285e+07,1.011867e+08,NaN,24.000000,117.000000,5.000000,16.000000,6.000000,9667.000000,20.000000,56.277419,10.327803

In [9]:
df.index

RangeIndex(start=0, stop=2258, step=1)

In [12]:
exc= pd.read_excel("C:\\Users\\hari_\\Python notebooks\\datafiles\\Module2 - Lab1.xls")

In [22]:
df =pd.read_csv("C:\\Users\\hari_\\Python notebooks\\edx\\Module2\\Datasets\\direct_marketing.csv")

In [24]:
df.head(5)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [57]:
df.loc[0:2,['history']]

   history
0   142.44
1   329.08
2   180.65

In [71]:
df.iloc[0:10,0:4]

   recency history_segment  history  mens
0       10  2) $100 - $200   142.44     1
1        6  3) $200 - $350   329.08     1
2        7  2) $100 - $200   180.65     0
3        9  5) $500 - $750   675.83     1
4        2    1) $0 - $100    45.34     1
5        6  2) $100 - $200   134.83     0
6        9  3) $200 - $350   280.20     1
7        9    1) $0 - $100    46.42     0
8        9  5) $500 - $750   675.07     1
9       10    1) $0 - $100    32.84     0

In [84]:
sel1 = df.recency < 7
sel2 = df.mens == 0
sel3 = df.history < 100
sel4 = df.channel == 'Phone'
#df[sel & sel2 & sel3 & sel4 ]

In [101]:
newseries =['sad', 'verysad','neutral','happy','veryhappy']
ndf = pd.DataFrame({'satisfaction':['veryhappy','happy','neutral','mad','verysad']})
ndf ['satisfaction2'] = ndf.satisfaction.astype(dtype='category',ordered=True, categories=newseries)
ndf

c:\users\hari_\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  This is separate from the ipykernel package so we can avoid doing imports until

  satisfaction satisfaction2
0    veryhappy     veryhappy
1        happy         happy
2      neutral       neutral
3          mad           NaN
4      verysad       verysad

In [104]:
ndf.satisfaction2 = ndf.satisfaction2.cat.codes
ndf.satisfaction2

0    4
1    3
2    2
3   -1
4    1
Name: satisfaction2, dtype: int8

In [112]:
ndf1 = pd.DataFrame({'vetebrates':['Bird','Fish','Mamamal','Reptile','Amphbian','Bird','Fish','Mamamal']})
ndf1['vetebrates2'] = ndf1.vetebrates.astype("category").cat.codes
ndf1 = pd.get_dummies(ndf1,columns=['vetebrates'])
ndf1

,vetebrates2,vetebrates_Amphbian,vetebrates_Bird,vetebrates_Fish,vetebrates_Mamamal,vetebrates_Reptile
0,1,0,1,0,0,0
1,2,0,0,1,0,0
2,3,0,0,0,1,0
3,4,0,0,0,0,1
4,0,1,0,0,0,0
5,1,0,1,0,0,0
6,2,0,0,1,0,0
7,3,0,0,0,1,0

In [113]:
df

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1
6,9,3) $200 - $350,280.20,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
7,9,1) $0 - $100,46.42,0,1,Urban,0,Phone,Womens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,5
9,10,1) $0 - $100,32.84,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
10,7,5) $500 - $750,548.91,0,1,Urban,1,Phone,Womens E-Mail,1,0,0.0,1
11,1,3) $200 - $350,211.45,0,1,Urban,1,Phone,Womens E-Mail,0,0,0.0,1
12,5,5) $500 - $750,642.90,0,1,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,1
13,2,2) $100 - $200,101.64,0,1,Urban,0,Web,Mens E-Mail,1,0,0.0,3
14,4,3) $200 - $350,241.42,0,1,Rural,1,Multichannel,No E-Mail,0,0,0.0,5
15,3,1) $0 - $100,58.13,1,0,Urban,1,Web,No E-Mail,1,0,0.0,6
16,5,1) $0 - $100,29.99,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
17,9,2) $100 - $200,112.35,1,0,Rural,0,Web,Mens E-Mail,0,0,0.0,2
18,11,3) $200 - $350,219.04,1,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,5
19,5,"6) $750 - $1,000",828.42,1,0,Surburban,1,Multichannel,Mens E-Mail,0,0,0.0,2
20,9,1) $0 - $100,29.99,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
21,11,2) $100 - $200,182.32,1,0,Surburban,0,Phone,Mens E-Mail,0,0,0.0,2
22,2,2) $100 - $200,118.40,1,0,Surburban,0,Web,Mens E-Mail,1,0,0.0,2
23,2,1) $0 - $100,29.99,0,1,Urban,1,Phone,No E-Mail,0,0,0.0,5
24,4,1) $0 - $100,78.24,1,0,Surburban,0,Web,No E-Mail,0,0,0.0,6
25,6,2) $100 - $200,139.87,0,1,Rural,1,Web,Mens E-Mail,0,0,0.0,3
26,12,2) $100 - $200,115.39,0,1,Surburban,0,Phone,Mens E-Mail,1,0,0.0,3
27,6,2) $100 - $200,162.98,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3
28,7,4) $350 - $500,435.73,0,1,Urban,1,Web,No E-Mail,0,0,0.0,5
29,2,3) $200 - $350,203.35,1,0,Rural,0,Web,No E-Mail,0,0,0.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63970,4,2) $100 - $200,191.15,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
63971,5,5) $500 - $750,549.87,0,1,Surburban,1,Phone,Womens E-Mail,0,0,0.0,1
63972,3,5) $500 - $750,554.97,0,1,Surburban,1,Web,No E-Mail,0,0,0.0,5
63973,8,4) $350 - $500,471.80,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63974,8,1) $0 - $100,73.65,0,1,Surburban,0,Phone,Mens E-Mail,0,0,0.0,3
63975,10,"6) $750 - $1,000",883.92,1,0,Urban,1,Phone,No E-Mail,0,0,0.0,6
63976,1,5) $500 - $750,710.72,1,1,Urban,1,Phone,No E-Mail,0,0,0.0,11
63977,8,1) $0 - $100,29.99,0,1,Surburban,0,Web,No E-Mail,1,0,0.0,5
63978,10,2) $100 - $200,102.01,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63979,10,2) $100 - $200,168.21,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63980,3,4) $350 - $500,487.10,0,1,Surburban,1,Phone,No E-Mail,0,0,0.0,5
63981,4,2) $100 - $200,125.53,0,1,Rural,1,Phone,No E-Mail,0,0,0.0,5
63982,5,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63983,2,1) $0 - $100,83.03,0,1,Urban,0,Phone,No E-Mail,0,0,0.0,5
63984,2,3) $200 - $350,209.51,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63985,9,1) $0 - $100,29.99,1,0,Urban,0,Phone,Mens E-Mail,1,0,0.0,2
63986,9,1) $0 - $100,35.26,0,1,Urban,1,Web,Womens E-Mail,0,0,0.0,1
63987,1,1) $0 - $100,79.70,1,0,Surburban,1,Web,No E-Mail,0,0,0.0,6
63988,6,1) $0 - $100,32.98,1,0,Surburban,0,Web,Mens E-Mail,0,0,0.0,2
63989,10,3) $200 - $350,304.30,1,1,Surburban,0,Web,Womens E-Mail,1,0,0.0,5
63990,6,1) $0 - $100,80.02,0,1,Surburban,0,Phone,No E-Mail,0,0,0.0,5
63991,1,3) $200 - $350,306.10,1,0,Surburban,1,Phone,Womens E-Mail,0,0,0.0,4
63992,1,5) $500 - $750,519.69,1,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,5
63993,4,4) $350 - $500,374.07,0,1,Surburban,0,Phone,Womens E-Mail,0,0,0.0,1
63994,7,1) $0 - $100,86.46,0,1,Urban,0,Web,Mens E-Mail,0,0,0.0,3
63995,10,2) $100 - $200,105.54,1,0,Urban,0,Web,Mens E-Mail,0,0,0.0,2
63996,5,1) $0 - $100,38.91,0,1,Urban,1,Phone,Mens E-Mail,0,0,0.0,3
63997,6,1) $0 - $100,29.99,1,0,Urban,1,Phone,Mens E-Mail,0,0,0.0,2
63998,1,5) $500 - $750,552.94,1,0,Surburban,1,Multichannel,Womens E-Mail,0,0,0.0,4
63999,1,4) $350 - $500,472.82,0,1,Surburban,0,Web,Mens E-Mail,0,0,0.0,3

In [3]:
import matplotlib as plt
import pandas as pd